@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Ubuntu", sans-serif;
  color: #090222; }

a, button, ul, ol, li, p {
  font-size: 1.6rem;
  color: #090222; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

ul, ol, li, a, button {
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

i.fa-tv {
  color: #7173f3; }

i.fa-file-code {
  color: #2da2e1; }

i.fa-chart-line {
  color: #4776e6; }

i.fa-trophy {
  color: #f0db4f; }

.gap-1 {
  gap: 1rem; }

.gap-2 {
  gap: 2rem; }

.flex-clumn {
  flex-direction: column; }

.p-01 {
  padding: 0.5rem !important; }

.p-1 {
  padding: 1rem !important; }

.p-2 {
  padding: 2rem !important; }

.p-3 {
  padding: 3rem !important; }

.px-1 {
  padding: 0 1rem !important; }

.py-1 {
  padding: 1rem 0 !important; }

.px-2 {
  padding: 2rem 0 !important; }

.py-2 {
  padding: 2rem 0 !important; }

.px-3 {
  padding: 0 3rem !important; }

.py-3 {
  padding: 3rem 0 !important; }

@keyframes sticky {
  0% {
    transform: translateY(-6rem);
    -webkit-transform: translateY(-6rem);
    -moz-transform: translateY(-6rem);
    -ms-transform: translateY(-6rem);
    -o-transform: translateY(-6rem); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@keyframes project {
  0% {
    opacity: 0.8;
    transform-origin: center;
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in; }
  100% {
    opacity: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

header {
  z-index: 1000; }

.logo {
  font-size: 3.7rem;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.2rem;
  -webkit-text-stroke-width: 0.1rem;
  -moz-text-stroke-width: 0.1rem;
  -ms-text-stroke-width: 0.1rem;
  -o-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #0a1a67;
  -moz-text-stroke-color: #0a1a67;
  -ms-text-stroke-color: #0a1a67;
  -o-text-stroke-color: #0a1a67;
  color: transparent;
  line-height: 4rem;
  font-weight: bolder;
  text-transform: capitalize; }

.logo-circle {
  color: #5957e6; }

.mobile-manue {
  width: 3rem;
  height: 0.4rem;
  background: #090222;
  position: relative;
  opacity: 0;
  visibility: hidden;
  cursor: pointer; }

.mobile-manue::after,
.mobile-manue::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #090222;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

.mobile-manue::before {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem); }

.mobile-manue.active::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.mobile-manue::after {
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem); }

.mobile-manue.active {
  background: transparent; }

.mobile-manue.active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); }

header.sticky {
  position: fixed;
  left: 0;
  width: 100%;
  background: white;
  z-index: 20000;
  animation: sticky 0.4s ease-in-out backwards;
  -webkit-animation: sticky 0.4s ease-in-out backwards; }

.manue .active a {
  background: #8ea3ff;
  color: white;
  padding: 0.6rem 1rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

@media (max-width: 764px) {
  .logo {
    font-size: 2.5rem; }
  .heading {
    font-size: 2rem; }
  .mobile-manue {
    opacity: 1;
    visibility: visible; }
  .manue {
    position: absolute;
    top: 6rem;
    height: calc(100vh - 6rem);
    z-index: 10;
    background: white;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; }
  .manue li {
    flex-direction: column;
    margin: 1rem 0; }
  .mobile-manue.active + .manue {
    opacity: 1;
    visibility: visible; } }

header {
  box-shadow: 0.1rem 0 0.3rem #d8d8d8; }

nav {
  height: 6rem; }

.manue li {
  display: inline-block;
  padding: 0 1rem; }

.container {
  max-width: 112rem;
  margin: 0 auto;
  width: calc(100% - 2rem);
  padding: 0 1rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.text-justify {
  word-break: break-all;
  text-align: justify; }

.font-secondry {
  font-family: "Dosis", sans-serif; }

.heading {
  color: #8d94fc; }

.btn {
  display: inline-block;
  background: #8ea3ff;
  color: white;
  padding: 0.6rem 1rem; }

.btn.btn-primary {
  background: #8ea3ff;
  color: white;
  padding: 0.6rem 1rem; }

.btn.btn-primary a {
  color: white; }

.box-shadow-custom {
  box-shadow: 0 0 0.2rem #d8d8d8; }

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  -webkit-aspect-ratio: 1/1;
  -moz-aspect-ratio: 1/1;
  -o-aspect-ratio: 1/1;
  -ms-aspect-ratio: 1/1; }

.grid {
  display: grid; }

.grid-auto-fit-250 {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem; }

.d-flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.d-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-center {
  text-align: center; }

.justify-content-sb {
  justify-content: space-between; }

#home {
  height: 61rem; }

.heading {
  text-rendering: optimizeLegibility;
  font-family: "Dosis", sans-serif; }

.scroll-fature {
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  color: #fcfcfc;
  padding: 1rem;
  background-color: royalblue; }

.btn-action-home {
  margin-top: 2rem;
  margin-right: 1rem; }

@media screen and (max-width: 1140px) {
  #home {
    height: 56rem; } }

@media (max-width: 764px) {
  .btn-action-home {
    margin-top: 1rem;
    display: block;
    max-width: 100%;
    width: 50%; } }

#feature {
  padding: 2rem 0;
  grid-row-gap: 3rem; }

.feature-header {
  font-size: 2rem;
  font-family: "Dosis", sans-serif; }

.feature-item {
  text-align: center; }

.count {
  position: relative; }

.count::before {
  content: attr(data-count);
  font-size: 3rem;
  background: #ebebeb;
  border: 0.1rem solid #d8d8d8;
  z-index: -1;
  position: absolute;
  top: -5.5rem;
  left: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  color: #8ea3ff; }

.feature-item * {
  padding: 0.5rem 0; }

.feature-item p {
  text-align: justify; }

#service {
  padding: 3rem 0;
  gap: 3rem; }

.service-item {
  background: white;
  font-family: "Dosis", sans-serif; }
  .service-item img {
    width: 80%;
    height: 80%; }

.project-section {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem; }
  .project-section .project-item img {
    width: 100%; }

.project-overlay {
  display: none;
  visibility: hidden; }

.project-item:hover .project-overlay {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 2, 34, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .project-item:hover .project-overlay * {
    font-size: 3rem; }

.project-item {
  position: relative; }
  .project-item.show {
    display: block;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    animation: project 0.5s ease-in backwards;
    -webkit-animation: project 0.5s ease-in backwards; }
  .project-item.hide {
    display: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; }

.project-filter li {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }
  .project-filter li.active {
    background: #8ea3ff;
    color: white; }

.slider-container {
  position: relative;
  height: 25rem;
  overflow-x: hidden;
  display: flex;
  align-items: center; }

.slider-items {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out; }
  .slider-items img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: white;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 2rem;
  cursor: pointer; }

.slider-contorler {
  margin: 2rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }

.controler-dot {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.7rem;
  background: #d8d8d8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: width 0.5s ease-in;
  cursor: pointer;
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  -ms-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in; }
  .controler-dot.active {
    width: 1.8rem;
    background: #7173f3;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; }

#about {
  padding: 2rem 0; }

.about-social-component {
  padding: 2rem; }

.my-profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #5E5C7F; }

.about-img .my-profile {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #7173f3;
  background: #5E5C7F; }

.social-media {
  gap: 1rem;
  display: flex; }
  .social-media i {
    font-size: 2.3rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    box-shadow: 0 0 0.1rem #8993be;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .social-media .fa-linkedin-in {
    color: #0077b5; }
  .social-media .fa-facebook-f {
    color: #4267B2; }
  .social-media .fa-twitter {
    color: #1DA1F2; }
  .social-media .fa-instagram {
    color: #3f729b; }
  .social-media .fa-github {
    color: #333; }
  .social-media .fa-gitlab {
    color: #FC6D27; }
  .social-media .fa-pinterest {
    color: #E60023; }
  .social-media .fa-fonticons-fi {
    color: #27ca73; }

.about-content {
  background: white;
  position: relative;
  filter: drop-shadow(0 0 0.2rem rgba(216, 216, 216, 0.753));
  -webkit-filter: drop-shadow(0 0 0.2rem rgba(216, 216, 216, 0.575));
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem; }

.about-content::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.8rem;
  border-top: 1.4rem solid transparent;
  border-bottom: 1.4rem solid transparent;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid white;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.skill .fa-php {
  color: #8993be; }

.skill .fa-js-square {
  color: #f0db4f; }

.skill .fa-css3-alt {
  color: #2965f1; }

.skill .fa-database {
  color: #6C78AF; }

.skill-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 0.3rem; }

.progess-skill {
  width: 30rem;
  background: #F1F1F1;
  height: 0.7rem;
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }

.progess {
  border-radius: 1rem;
  position: absolute;
  transition: width 0.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  width: 0;
  left: 0;
  height: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  -moz-transition: width 0.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  -ms-transition: width 0.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  -o-transition: width 0.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  .progess span {
    position: absolute;
    top: -2rem;
    right: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #090222; }

.css {
  background: #2965f1; }

.javascript {
  background: #f0db4f; }

.php {
  background: #8993be; }

.database {
  background: #6C78AF; }
