@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@400;700&family=Lobster&family=Ubuntu:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
  color: #090222; }

a, button, ul, ol, li, p {
  font-size: 1.6rem;
  color: #090222; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.6rem; }

ul, ol, li, a, button {
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo {
  font-size: 3.7rem;
  font-family: "Lobster", cursive;
  letter-spacing: 0.2rem;
  -webkit-text-stroke-width: 0.01rem;
  -moz-text-stroke-width: 0.01rem;
  -ms-text-stroke-width: 0.01rem;
  -o-text-stroke-width: 0.01rem;
  -webkit-text-stroke-color: #0a1a67;
  -moz-text-stroke-color: #0a1a67;
  -ms-text-stroke-color: #0a1a67;
  -o-text-stroke-color: #0a1a67;
  color: transparent;
  line-height: 4rem;
  font-weight: bolder;
  text-transform: capitalize; }

.logo-circle {
  color: #5957e6; }
