#about {
  padding: 2rem 0;
}
.about-social-component {
  padding: 2rem;
}
.my-profile {
  @include radius-50(10rem, 10rem);
  background: #5E5C7F;
}
.about-img{
    & .my-profile {
        @include radius-50(13rem, 13rem);
        background: $fifth;
        background: #5E5C7F;
    }
}
.social-media {
  gap: 1rem;
  display: flex;
  & i{
    font-size: 2.3rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    box-shadow: 0 0 0.1rem $php;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  & .fa-linkedin-in {
    color: $LinkedIn;
  }
  & .fa-facebook-f {
    color: $facebook;
  }
  & .fa-twitter {
    color: $twitter;
  }
  & .fa-instagram {
    color: $instagram;
  }
  & .fa-github {
    color: $github;
  }
  & .fa-gitlab {
    color: $gitlab;
  }
  & .fa-pinterest {
    color: $pintrest;
  }
  & .fa-fonticons-fi{
    color: $fiverr;
  }
}
.about-content{
  @include box-shadow(0, 0, 0.3rem, $greysh);
  position: relative;
}
.about-content::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.8rem;
  border-top: 1.4rem solid transparent;
  border-bottom: 1.4rem solid transparent;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid $greysh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.skill{
  & .fa-php{
    color: $php;
  }
  & .fa-js-square{
    color: $js;
  }
  & .fa-css3-alt{
    color: $css;
  }
  & .fa-database{
    color: $db;
  }
}
.skill-item{
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap:0.3rem;
}
.progess-skill{
  width: 30rem;
  background: #F1F1F1;
  height: 0.7rem;
  // overflow: hidden;
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.progess{
  position: absolute;
  background: rebeccapurple;
  transition: all 0.5s ease-in-out;
  width: 0;
  left: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  & span
{
    position: absolute;
    top: -2rem;
    right: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
