@keyframes sticky {
  0% {
    transform: translateY(-$nav-height);
    -webkit-transform: translateY(-$nav-height);
    -moz-transform: translateY(-$nav-height);
    -ms-transform: translateY(-$nav-height);
    -o-transform: translateY(-$nav-height);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes project {
  0% {
    opacity: 0.8;
    transform-origin: center;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transform: scale(0.5) translateX(20px) translateY(20px) translateZ(20px);
    -webkit-transform: scale(0.5) translateX(20px) translateY(20px)
      translateZ(20px);
    -moz-transform: scale(0.5) translateX(20px) translateY(20px)
      translateZ(20px);
    -ms-transform: scale(0.5) translateX(20px) translateY(20px) translateZ(20px);
    -o-transform: scale(0.5) translateX(20px) translateY(20px) translateZ(20px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateX(0px) translateY(0px) translateZ(0px);
    -webkit-transform: scale(1) translateX(0px) translateY(0px) translateZ(0px);
    -moz-transform: scale(1) translateX(0px) translateY(0px) translateZ(0px);
    -ms-transform: scale(1) translateX(0px) translateY(0px) translateZ(0px);
    -o-transform: scale(1) translateX(0px) translateY(0px) translateZ(0px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    opacity: 0;
  }
  50% {
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    -moz-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    -o-transform: translateY(-0.5rem);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
  }
}
