#feature{
    padding: 2rem 0;
    grid-row-gap: 3rem;
}
.feature-header{
    font-size: 2rem;
    font-family: $font-secondry;
}
.feature-item{
    text-align: center;
}
.count{
    position: relative;
}
.icon-font{
    width: 5.5rem;
    height: 5.5rem;
}
.feature-item *{
    padding: 0.5rem 0;
}
.feature-item p{
    text-align: justify;
}