#feature{
    padding: 2rem 0;
    grid-row-gap: 3rem;
}
.feature-header{
    font-size: 2rem;
    font-family: $font-secondry;
}
.feature-item{
    text-align: center;
}
.count{
    position: relative;
}
.count::before{
    content: attr(data-count);
    font-size: 3rem;
    background: $drop-shadow-bg;
    border: 0.1rem solid $greysh;
    z-index: -1;
    @include after-before(2rem,-5.5rem);
    @include radius-50(5rem,5rem);
    text-align: center;
    line-height: 5rem;
    font-weight: bolder;
    font-family: $font-secondry;
    color: $primary;
}
.icon-font{
    font-size: 3rem;
}
.feature-item *{
    padding: 0.5rem 0;
}
.feature-item p{
    text-align: justify;
}