@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
#home{
    height: 61rem;
}
.heading{
   text-rendering: optimizeLegibility;
   font-family: $font-secondry;
}
.scroll-fature{
    cursor: pointer;
    position: absolute;
    bottom: 3rem;
    color: #fcfcfc;
    padding: 1rem;
    background-color: royalblue;
}
.btn-action-home{
    margin-top: 2rem;
    margin-right: 1rem;
}