.project-counter{
    margin-top: 2rem;
    opacity: 0;
    transform: translateY(5rem);
    -webkit-transform: translateY(5rem);
    -moz-transform: translateY(5rem);
    -ms-transform: translateY(5rem);
    -o-transform: translateY(5rem);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
.project-count-containter{
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
}
.project-counter.slide-down{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
.counter-img{
    width: 5rem;
    height: 5rem;
}
.project-count{
    font-size: 4rem;
    font-weight: bolder;
    display: block;
    font-family: $font-secondry;
}
.project-counter-item{
    text-align: center;
    width: 100%;
    padding: 1rem;
    background: $white;
    @include box-shadow(0,0,0.4rem,$drop-shadow-bg);
    & h5{
        font-family: $font-secondry;
        font-size: 2.5rem;
    }
    & span{
        font-size: 3rem;
        font-weight: bold;
        font-family: $font-secondry;
    }
}