.counter-img{
    width: 5rem;
    height: 5rem;
}
.project-count{
    font-size: 4rem;
    font-weight: bolder;
    display: block;
    font-family: $font-secondry;
}
.project-counter-item{
    & h5{
        font-family: $font-secondry;
        font-size: 2.5rem;
    }
}