@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body{
    font-family: $font-primary;
    color: $black;
}
// all code font-size reset-start
a,button,ul,ol,li,p{
    font-size: 1.6rem;
    color: $black;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.5rem;
}
h5{
    font-size: 2rem;
}
h6{
    font-size: 1.6rem;
}
// all code font-size reset-end
ul,ol,li,a,button{
    border: none;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
    font-family: $font-third;
}
span{
    font-size: 1.6rem;
}