section{
    padding: 1rem 0 !important;
}
.container{
    max-width: $container;
    margin: $m-auto;
    width: calc(100% - 2rem);
    padding: 0 1rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.text-justify{
    word-break: break-all;
    text-align: justify;
}
.font-secondry{
    font-family: $font-secondry;
}
.heading{
    color: $secondry;
}
.btn{
    display: inline-block;
    background: $primary;
    color: $white;
    padding: 0.6rem 1rem;
}
.btn.btn-primary{
    background: $primary;
    color: $white;
    padding: 0.6rem 1rem;
}
.btn.btn-primary a{
    color: $white;
}

// box-shadow
.box-shadow-custom{
    box-shadow: 0 0 0.2rem $greysh;
}
// box-shadow
.img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    -webkit-aspect-ratio: 1/1;
    -moz-aspect-ratio: 1/1;
    -o-aspect-ratio: 1/1;
    -ms-aspect-ratio: 1/1;
}
.grid{
    display: grid;
}
.grid-auto-fit-250{
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1rem;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.justify-content-sb{
    justify-content: space-between;
}