i.fa-tv{
    color: $fifth;
}
i.fa-file-code{
    color: $sixeth;
}
i.fa-chart-line{
    color: $gradient-1;
}
i.fa-trophy{
    color: $yellow;
}
.p-01{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.px-1{
    padding: 1rem 0;
}
.py-1{
    padding: 0 1rem;
}
.px-2{
    padding: 2rem 0;
}
.py-2{
    padding: 0 2rem;
}
.px-3{
    padding: 3rem 0;
}
.py-3{
    padding: 0 3rem;
}