$primary: rgb(142, 163, 255);
$secondry: rgb(141, 148, 252);
$third: #3e54cf;
$fourth: #5957e6;
$black: rgb(9, 2, 34);
$greysh: rgb(216, 216, 216);
$white:rgb(255, 255, 255);
$gradient-1: #4776e6; 
$nav-height: 6rem;
$gradient-1: -webkit-linear-gradient(
  to right,
  #8e54e9,
  #4776e6
);
$gradient-1: linear-gradient(
  to right,
  #8e54e9,
  #4776e6
);
$font-primary: 'Ubuntu', sans-serif;
$font-secondry: 'Lobster', cursive;
$font-third: 'Karantina', cursive;
$font-fourth: 'Zen Dots', cursive;
$font-fifth: 'Mulish', sans-serif;
$container:112rem;
$m-auto:0 auto;
$breakpoint-big-desktop: 1260px;
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
