$primary: rgb(142, 163, 255);
$secondry: rgb(141, 148, 252);
$third: #5957e6;
$forth: #7173f3;
$fifth: #2da2e1;
$black: rgb(9, 2, 34);
$scroll-bottom: rgb(87, 83, 172);
$greysh: rgb(216, 216, 216);
$white:rgb(255, 255, 255);
$drop-shadow-bg:rgba(216, 216, 216, 0.753);
$stock-bg:#0a1a67;
$gradient-1: #4776e6; 
$yellow:#f0db4f;
$nav-height: 6rem;
$facebook:#4267B2;
$twitter:#1DA1F2;
$instagram:#3f729b;
$github:#333;
$gitlab:#FC6D27;
$pintrest:#E60023;
$LinkedIn:#0077b5;
$fiverr:rgb(39, 202, 115);
$php:#8993be;
$js:#f0db4f;
$css:#2965f1;
$db:#6C78AF;
$profile:#5E5C7F;
$progress-bg:#F1F1F1;
$font-primary: 'Ubuntu', sans-serif;
$font-secondry: 'Dosis', sans-serif;
$font-third: 'Rubik', sans-serif;
$container:112rem;
$m-auto:0 auto;
$breakpoint-big-desktop: 1260px;
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
